<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <div class="flex-container">
            <div class="flex-elements"><a href="/"><img class="logo" src="images/weatherIcon.jpeg" alt="weatherIcon"> WeatherWhiz</a></div>
        </div>
    </nav>
</body>
</html>